<nav>
    <ul>
        <li><a href="@Url.Action("Index", "Home")" class="button">O firmie</a></li>
        <li><a href="@Url.Action("List", "Car", new { category = (string)null, page = 1})" class="button">Oferty samochodów</a></li>
        <li><a href="@Url.Action("Rules", "Home")" class="button">Regulamin komisu online</a></li>
        <li><a href="@Url.Action("Contact", "Home")" class="button">Kontakt</a></li>
        <li><a href="@Url.Action("Index", "Admin")" class="button">Zaloguj</a></li>
    </ul>
</nav>
